node_modules/
.next/
.vercel/
dist/
coverage/
*.log
npm-debug.log*
pnpm-debug.log*
env.local
.env
.env.*
.DS_Store
/.idea/
/.vscode/
package-lock.json
yarn.lock
/.cache/
/.turbo/
*.bundle
secret-santa-backup-*.tar.gz
secret-santa-backup-*.bundle
node_modules
.next_pid
